@font-face {
    font-family: "PlayfairDisplay";
    src: url(./fonts/PlayfairDisplay/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}


nav{
    background-color: #b09084;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
    font-family: "PlayfairDisplay";
    font-weight: 700;
    font-size: 1.25em;
}
a:hover{
    text-decoration: underline;
    font-size: 1.5em;
}
.educate{
    background-color: #eee3df;
    box-shadow: 7px 7px 5px black;
}

.inspire{
    background-color: antiquewhite;
    box-shadow: -7px 7px 5px black;
}

.empower{
    background-color: #eee3df;
    box-shadow: 7px 7px 5px black;
}