@font-face {
    font-family: "PlayfairDisplay";
    src: url(./fonts/PlayfairDisplay/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "CorBoldItalic";
    src: url(./fonts/Cormorant_Garamond/CormorantGaramond-BoldItalic.ttf);
}

@font-face {
    font-family: "Varela";
    src: url(./fonts/Varela_Round/VarelaRound-Regular.ttf);
}

@font-face {
    font-family: "Sacramento";
    src: url(./fonts/Sacramento/Sacramento-Regular.ttf);
}

nav{
    background-color: #b09084 !important;
}


a:link, a:visited{
    text-decoration: none;
    color: black;
    font-family: "PlayfairDisplay";
    font-weight: 700;
    font-size: 1.25em;
}
a:hover{
    text-decoration: underline;
    font-size: 1.5em;
}
.educate{
    background-color: #eee3df;
    box-shadow: 7px 7px 5px black;
}

.inspire{
    background-color: antiquewhite;
    box-shadow: -7px 7px 5px black;
}

.empower{
    background-color: #eee3df;
    box-shadow: 7px 7px 5px black;
}

.headtext{
    font-family: "CorBoldItalic";
}

.tenettext{
    font-family: "Varela";
}

.introhead{
    font-family: "Sacramento";
}

.testpic{
    width: 30vw !important;
    height: auto !important;
}

#test-carousel{
    box-shadow: 7px 7px 5px black;
}